# Build output
build/
DerivedData/
*.xcuserstate
*.xcuserdatad

# Xcode per-user state
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store

# Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
